.hotelcard-container {
  --height: 10rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  &__image {
    flex: 0 0 var(--height);
    height: var(--height);
    img {
      width: 100%;
      height: 100%;
      background-color: #cccccc;
      object-fit: cover;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;

    h2 {
      color: var(--brand-color);
      font-size: 1rem;
      margin: 2px;
    }

    &-location {
      font-style: italic;
      margin: 0;
      font-size: 0.5rem;
    }

    &-description {
      color: rgb(30, 29, 34);
      font-size: 0.7rem;
      line-clamp: 2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-date {
      font-style: oblique;
      font-size: 0.5rem;
    }

    &-two {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__button {
    cursor: pointer;
    padding: 0.2rem 1rem;
    background: #fff;
    border: 1px solid var(--brand-color);
    font-size: 0.5rem;
    color: rgb(30, 29, 34);
    outline: none;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
      background: var(--brand-color);
      color: #fff;
    }
  }
}

.hotelcard-reviews-container {
  height: 10rem;
  overflow: scroll;
  background-color: #fff;
  margin-bottom: 1rem;
  width: 100%;

  &__text {
    text-align: center;
  }
}
